<!--não será mais usado, o css foi padronizado e feito depois no aquivo style.css, este arquivo foi descartado-->
body {
}

#banner {
    width: 100%;
}
.principal {
    background: #CCCCCC;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.itens {
    font-style: italic;
}
.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imgbeneficios {
    width: 50%;
}
